<div id="presentation">
  <div id="image-presentation-left">
    <img ngSrc="/assets/images/fleurs_welcome.png" width="1600" height="800" />
  </div>
  <div id="logo-presentation">
    <img id="couple-finish" ngSrc="/assets/images/finish.png" width="3648" height="5472" />
<!--    <img id="logo-finish" ngSrc="/assets/images/logo_finish.png" width="1024" height="1024" />-->
  </div>
  <div id="image-presentation-right">
    <img ngSrc="/assets/images/fleurs_welcome.png" width="1600" height="800" />
  </div>
</div>
