:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  h3 {
    margin: 20px auto;
    color: var(--title-text-color);
    font-size: xx-large;
    font-family: YAEw2GhSLyw-0;
  }

  #alternative-answer {
    min-height: 50px;
    width: 75%;
    margin: 15px auto;
    padding: 20px 0;
    //box-shadow: inset -2px 0 0 var(--other-answer-border), inset 0 -2px 0 var(--other-answer-border), inset 2px 0 0 var(--other-answer-border), inset 0 2px 0 var(--other-answer-border);
    box-shadow: inset -2px 0 0 black, inset 0 -2px 0 black, inset 2px 0 0 black, inset 0 2px 0 black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      margin-top: 0;
    }
  }
}
