<img ngSrc="/assets/images/1075c1196020e4db060209e72a42c1aa.png" id="curlicue-top-right" height="483" width="517" />
<img ngSrc="/assets/images/1075c1196020e4db060209e72a42c1aa.png" id="curlicue-bottom-left" height="483" width="517"/>
<img ngSrc="/assets/images/409825a2a8af609a40aadc3b36d3aa08.png" id="curlicue-bottom-middle" height="482" width="517"/>

@if (question) {
  <h3>{{question.question}}</h3>
  @for (answer of question.answers; track answer; let index = $index) {
    <app-answer [answer]="answer" [number]="index + 1" [isAnswerShown]="isAnswerShown" (answerSelected)="answerSelected(answer)"></app-answer>
  }
  @if (question.alternativeAnswers && isAnswerShown) {
    <div id="alternative-answer">
      <h4>Réponses alternatives</h4>
      @if (isAnswerShown) {
        {{question.alternativeAnswers.join(', ')}}
      }
    </div>
  }
}

