:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  h3 {
    margin: 20px auto;
    color: var(--text-primary-color);
    font-size: xx-large;
    font-family: YAEw2GhSLyw-0;
  }

  #alternative-answer {
    min-height: 50px;
    width: 75%;
    margin: 15px auto;
    padding: 20px 0;
    color: var(--text-primary-color);
    box-shadow: inset -2px 0 0 var(--text-primary-color), inset 0 -2px 0 var(--text-primary-color), inset 2px 0 0 var(--text-primary-color), inset 0 2px 0 var(--text-primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      margin-top: 0;
    }
  }

  #curlicue-top-right {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -40px;
    right: 45px;
    clip-path: polygon(40% 0%, 75% 100%, 100% 100%, 100% 0%);
    rotate: 40deg;
  }

  #curlicue-bottom-left {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 28px;
    left: -18px;
    clip-path: polygon(34% 19%, 8% 80%, 50% 71%, 50% 100%, 50% 26%);
    rotate: -70deg;
  }

  #curlicue-bottom-middle {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 28px;
    left: calc(50% - 75px);
    clip-path: polygon(50% 28%, 25% 31%, 25% 39%, 24% 39%, 24% 38%, 17% 39%, 10% 51%, 37% 59%, 33% 70%, 45% 82%, 57% 83%, 64% 44%, 65% 37%);
    rotate: -80deg;
  }
}
